/*
	Author : Ashna Wiar;
	E-mail : A_wiar@hotmail.com;
	Font   : Montserrat;
	
	Main colors:
		#303642 <- Background
		#373e4b <- input
		#aaaaaa <- input text color
		#434a57 <- input border color
		#00bfe8 <- button color
		#ffffff <- font color
	;
*/
.inner-body {
	width: 1080px !important;

}
/* navigation */
.dashboard-nav {
	width:25%;
	height: 10000px;
	background-color: #2f3b4c;
	float: left ;
}
.dashboard-nav .top-nav{
	background-color: #00bfe8;
}
.dashboard-nav  .top-nav  h1{
	margin: 0; 
	color: white;
	margin-left: 20px;
	font-family: arial;
    padding-top: 5px;
}
.dashboard-nav  .top-nav  p{
	margin: 0;
    color: #0083a9;
    font-family: arial;
    font-size: 13px;
    font-style: normal;
    margin-left: 19px;
}
.dashboard-nav nav ul  {
	padding: 0;
	list-style: none;
	margin: 0;
}
.dashboard-nav nav ul li {
	padding: 20px;
}
.dashboard-nav nav ul #active {
	background-color: #2a3344 !important;
	border-left: 3px solid #00BFE8 !important;
}
.dashboard-nav nav ul li .icon {
	margin-right: 5px;
}
.dashboard-nav nav ul li:hover {
	background-color: #2a3344;
}
.dashboard-nav hr {
	width: 230px;
}
.dashboard-nav nav ul .n-list {
	padding: 5px 25px !important;
}

.dashboard-nav nav ul .n-list:hover,.dashboard-nav nav ul .user:hover  {
	background-color: #2F3B4C;
}

.dashboard-nav nav ul .user .profile-img , .dashboard-nav nav ul .user .profile-name {
	float: left;
}
.dashboard-nav nav ul .profile-img img {
	margin-right: 10px;
	border-radius: 100%;
    width: 63px;
}
.dashboard-nav nav ul .profile-name {
	margin-top: 7px;
}
.dashboard-nav nav ul .profile-name h1 {
	margin: 0;
	color: white;
    font-family: arial;
    font-size: 16px;
	font-weight: 100;
}
.dashboard-nav nav ul .profile-name p {
	margin: 0;
	color: #b0bec5;
	font-family: arial;
	font-weight: 100;
	font-size: 13px;
}
.dashboard-nav nav ul li a {
	color: #b0bec5;
	font-family: arial;
	text-decoration: none;
	width: 100%;
}


.top-nav{
	width: 100%;
	height: 50px;
	background: white;
}
.dashboard-body {
	width: 75%;
	float: left;
	background-color: #eceef2;
	height: 1000px;
}
.dashboard-content {
	box-sizing: border-box;
	padding: 10px;
}

.dashboard-content .dashboard-item {
	background: white;
	margin-left: 22px;
	float: left;
	height: 66px;
    width: 181px;	
}
.dashboard-content .dashboard-item:first-child {
	margin: 0;
}
.dashboard-item .icon-frame {
	height: 66px;

    width: 52px;
}
.dashboard-item  .icon-frame , .dashboard-item .content{
	float: left;

}
.dashboard-body .icon-frame img {
	margin-left: 12px;
    margin-top: 17px;
}
.dashboard-body .top-nav ul {
	padding: 14px;
	margin: 0;
	list-style:none;
}
.dashboard-item .content {
	padding: 10px;
	margin-left: 5px;
    margin-top: 6px;
	box-sizing: border-box;
}
.dashboard-item .content h1, .dashboard-item .content p  {
	margin: 0;
	font-family: arial;

}

.dashboard-content .notifications {
	background-color: #ffffff;
	padding: 10px;
	box-sizing: border-box;
	margin-top: 10px;
}

.dashboard-content .notifications h1 {
	margin: 0;
	font-weight: 100;
}
/* table desing */
table {
	border-spacing: 0px 2px;
	width: 100%;
}

table #head:hover{
	background: white;
	color:black;
}

.dashboard-content .notifications table td, th{
	font-family: arial;
    font-size: 14px;
	
    font-weight: 100;
	border-bottom: 10px solid white;
	text-align: left;
}

.dashboard-content .notifications table td {
	cursor: pointer;
	padding-top: 5px;
}
.notifications .users .img-holder {
	width: 81px;
	float: left;
}
.notifications .users .action {
	float: right;
}
.notifications .users .desc {
	float: right;
	width: 285px
}
.notifications .users .desc img, .notifications h1 img {
	float: right;
	margin-right: 15px;
}
.notifications .users .img-holder img {
	margin-left: 13px;
	width: 50px;
	border-radius: 100%;
}
.notifications .users .desc p {
	color: grey;
	margin-top: 5px;
	font-size: 13px;
}
.notifications .users a {
	color: grey;
	font-size: 13px;
}
.notifications .users .desc h1 {

	font-size: 14px;
}

#late {
	background-color: #dc8484;
	color: white;
}

#late > #action {
	
	padding-right: 10px;
}
#more {
	text-align: center;
	font-family: arial;
	font-size: 13px;
	border-bottom-width: 0;
	border-top: 10px;
}
/* differnt icon-frame colors */

.bg-orange {
	background-color: #ff8761;
	color: #ff8761;
}
.bg-blue {
	background-color: #57bdde;
	color: #57bdde;
}
.bg-purple {
	background-color: #b198dc;
	color: #b198dc;
}
.bg-indigo {
	background-color: #6dc7be;
	color: #6dc7be;
}

.c-orange {

	color: #ff8761;
}
.c-blue {
	
	color: #57bdde;
}
.c-purple {
	
	color: #b198dc;
}
.c-indigo {
	
	color: #6dc7be;
}
.c-white {
	
	color: #fff;
}
.w-50{
	width: 49%;
	float: left;
}

.w-50:last-child {
	margin-left: 15px;
}

hr {
	border: none;
	border-top: 1px solid #c3c3c3;
}

#date {
	color: grey;
    float: right;
    font-size: 12px;
    font-style: italic;
    text-align: right;
}
.popup {
    background-color: rgba(0, 0, 0, 0.3);
    height: 100%;
    left: 0;
    position: absolute;
    top: 0;
    width: 100%;
}

.popup-body {
    background-color: white;
	padding: 10px;
    margin-top: 13%;
	height: 344px;
    margin-left: 416px;
    width: 640px;
}


.inner-popup {
	transition: margin 0.5s;
    background-color: white;
    color: black;
    font-family: sans-serif,arial;
	margin: 0 auto;
	margin-top: 100%;
	padding: 10px;
    text-align: center;
    width: 40%;
}

.scroll-up {
	transition: margin 0.5s;
	margin-top: 10%;
}

.scroll-up-more {
	transition: margin 0.5s;
	margin-top: 70%;
}
.product_container {
	overflow-y: scroll;
	 height: 274px;
}
.product {
	
	width: 50%;
	float:left;
}
.product img {
	float:left;
}

.product p {
	margin: 0px;
}
.product select {
	margin-left: 20px;
    margin-top: 12px;
}
#pull-left {
	float:left;
	margin: 10px 0px 0px 20px;
}

.btn-x {
	float: right;
	background: none;
	border: none;
	cursor: pointer;
}
